<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Result</title>
  <style></style>
  <script>
    document.addEventListener('DOMContentLoaded', function() { parent.postMessage('Bring it.', '*'); });

    onmessage = function (event) {
      if (event.origin === '<%= origin %>') {
        var info = JSON.parse(event.data);

        if(info.css) { document.querySelector('style').textContent = info.css; }

        if(info.html) { document.body.innerHTML = info.html; }

        if(info.reset) { document.querySelector('style').textContent = document.body.innerHTML = ''; }
      }
    };
  </script>
</head>
<body></body>
</html>
